h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 5px 20px ;
}

section{
    text-align: center;
}

.texto{
    text-align: left;
}

.curintia{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 5px 20px ;
}

.no{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 5px 20px ;
}